/* Choices ---------------------------------------------------------------*/

    .choices__inner {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: $white;
        padding: 7.5px 7.5px 3.75px;
        border-radius: 4px;
        min-height: 44px;
        overflow: hidden;
        color: $font-color;
        border: 1px solid $black;
    }

    //This is for the delete button on tags
    .choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
        text-indent: 0;
        width: auto;

        &:before {
            background-image: none;
            content: "\f00d ";
            font-family: FontAwesome;
            color: $black;
            margin-left: -5px;
            margin-right: 5px;
        }
    }