// @font-face {
//   font-family: "SourceSansPro";
//   src: url("~@/assets/fonts/SourceSansPro/SourceSansPro-Light.ttf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "SourceSansPro";
//   src: url("~@/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: "SourceSansPro";
//   src: url("~@/assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
//   font-weight: 500;
// }

// @font-face {
//   font-family: "SourceSansPro";
//   src: url("~@/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
//   font-weight: 700;
// }
