/* Navigation ------------------------------------------------------------------*/

    //This is for the full bleed background
    //when using a container
    .navbar-section {
        background-color: $blue;

        .container-nav {
            padding-left: 0;
            padding-right: 90;
        }

        .navbar {
            margin-bottom: 20px;
        }
    }

    // //When using fixed-top navbar, add this.
    // .sticky-nav-spacer {
    //     margin-top: 78px;
    // }

    .router-link-exact-active {
        font-weight: bold;
        text-decoration: none;
        color: $navbar-dark-color !important;
    }