// For vue-router
.router-link-exact-active {
  font-weight: 500;
  text-decoration: none;
}

//For toasts
.toasted-container .toasted {
  font-family: $font-family-base;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  line-height: 1.4;
  font-weight: 400 !important;
}
