/* Google Recaptcha -----------------------------------------------------*/

    .capatcha {
        text-align: center;
    }

    .grecaptcha-badge {
        display: none;
    }

    @media(max-width:345px) {
        .g-recaptcha {
            transform:scale(0.88);
            transform-origin:0 0;
        }
    }