section.user-action {
  padding: 25px 0;
}

.user-block {
  padding: 25px;
  background: $blue;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;

  @media (min-width: 992px) {
    max-width: 500px;
  }

  &__header {
    color: $white;
  }

  &__content {
    color: $white;

    label {
      color: $white;
    }
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}
