/* stylelint-disable color-no-hex */

// Mainly, we want to use CSS Variables in our apps. The thing is, we need
// to declare at least the base colors as SCSS Variables, in addition to
// CSS Variables, as Bootstrap uses them to do some of it's initialization.
// Really, you want to use the CSS Variable when possible.

// Only for Bootstrap initialization
$blue: #135edb;
$indigo: #3f00ff;
$purple: #800080;
$pink: #ffc0cb;
$red: #fb1505;
$orange: #ff7f00;
$yellow: #fdff00;
$green: #16ca43;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$white: #fff;
$off-white: darken($white, 1%);
$muted: rgba(15, 53, 86, 0.6);
$font-color: $muted;
$font-color-header: $black;

// Ok, now start our actual app variables to be accessed with var(--blue)

// Main colors for app
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,

  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,

  "black": $black,
  "white": $white,
  off-white: $off-white,
  muted: $muted,

  blue-100: tint-color($blue, 8),
  blue-200: tint-color($blue, 6),
  blue-300: tint-color($blue, 4),
  blue-400: tint-color($blue, 2),
  blue-500: $blue,
  blue-600: shade-color($blue, 2),
  blue-700: shade-color($blue, 4),
  blue-800: shade-color($blue, 6),
  blue-900: shade-color($blue, 8),

  indigo-100: tint-color($indigo, 8),
  indigo-200: tint-color($indigo, 6),
  indigo-300: tint-color($indigo, 4),
  indigo-400: tint-color($indigo, 2),
  indigo-500: $indigo,
  indigo-600: shade-color($indigo, 2),
  indigo-700: shade-color($indigo, 4),
  indigo-800: shade-color($indigo, 6),
  indigo-900: shade-color($indigo, 8),

  purple-100: tint-color($purple, 8),
  purple-200: tint-color($purple, 6),
  purple-300: tint-color($purple, 4),
  purple-400: tint-color($purple, 2),
  purple-500: $purple,
  purple-600: shade-color($purple, 2),
  purple-700: shade-color($purple, 4),
  purple-800: shade-color($purple, 6),
  purple-900: shade-color($purple, 8),

  pink-100: tint-color($pink, 8),
  pink-200: tint-color($pink, 6),
  pink-300: tint-color($pink, 4),
  pink-400: tint-color($pink, 2),
  pink-500: $pink,
  pink-600: shade-color($pink, 2),
  pink-700: shade-color($pink, 4),
  pink-800: shade-color($pink, 6),
  pink-900: shade-color($pink, 8),

  red-100: tint-color($red, 8),
  red-200: tint-color($red, 6),
  red-300: tint-color($red, 4),
  red-400: tint-color($red, 2),
  red-500: $red,
  red-600: shade-color($red, 2),
  red-700: shade-color($red, 4),
  red-800: shade-color($red, 6),
  red-900: shade-color($red, 8),

  orange-100: tint-color($orange, 8),
  orange-200: tint-color($orange, 6),
  orange-300: tint-color($orange, 4),
  orange-400: tint-color($orange, 2),
  orange-500: $orange,
  orange-600: shade-color($orange, 2),
  orange-700: shade-color($orange, 4),
  orange-800: shade-color($orange, 6),
  orange-900: shade-color($orange, 8),

  yellow-100: tint-color($yellow, 8),
  yellow-200: tint-color($yellow, 6),
  yellow-300: tint-color($yellow, 4),
  yellow-400: tint-color($yellow, 2),
  yellow-500: $yellow,
  yellow-600: shade-color($yellow, 2),
  yellow-700: shade-color($yellow, 4),
  yellow-800: shade-color($yellow, 6),
  yellow-900: shade-color($yellow, 8),

  green-100: tint-color($green, 8),
  green-200: tint-color($green, 6),
  green-300: tint-color($green, 4),
  green-400: tint-color($green, 2),
  green-500: $green,
  green-600: shade-color($green, 2),
  green-700: shade-color($green, 4),
  green-800: shade-color($green, 6),
  green-900: shade-color($green, 8),
);

// Add the rest of our variables
:root {
  // Add $colors array to :root as css variables
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  // Rest of the gloabl CSS Variables...

  // Animations
  --transition: all 0.2s ease-in;

  // Shadow
  --box-shadow-300: rgba(17, 51, 83, 0.1) 0px 2px 4px 0px;
  --box-shadow-400: rgba(17, 51, 83, 0.14) 0px 2px 4px 0px;
  --box-shadow-500: rgba(17, 51, 83, 0.18) 0px 2px 4px 0px; // Base
  --box-shadow-600: rgba(17, 51, 83, 0.22) 0px 2px 4px 0px;
  --box-shadow-700: rgba(17, 51, 83, 0.26) 0px 4px 6px 0px;

  // Text shadow
  --text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  // Icon shadow
  --icon-shadow: drop-shadow(0 0 1px rgba(100, 100, 100, 0.5));

  // Inset shadow
  --inset-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

  // Container box-shadow
  --container-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);

  // Borders
  --border: 1px solid var(--gray-400);

  // Gradient
  --gradient-primary: linear-gradient(90deg, var(--green-500), var(--green-600));
  --gradient-grey: linear-gradient(90deg, var(--gray-200), var(--gray-300));

  // Navbar colors
  --navbar-light-color: var(--black);
  --navbar-dark-color: var(--white);

  // Fonts
  --font-family-base: "Quicksand", "Helvetica Neue", Arial, sans-serif;

  // font sizing
  --font-size: 18px;
  --line-height: 1.6;

  // Rule border
  --rule-border: 1px solid rgba(100, 100, 100, 0.9);

  // Radius
  --border-radius: 4px;

  // Theme
  --background-color: var(--white);
  --background-color-secondary: var(--gray-400);
  --font-color: var(--muted);
  --font-color-header: var(--black);
  --link-color: var(--blue);
  --hr-color: var(--gray)
}

// Using our CSS font variable to set our Bootstrap font base.
$font-family-base: var(--font-family-base) !default;

// Overriding the Bootstrap theme and base colors using SCSS Variables
$theme-colors: (
  primary: $blue,
  secondary: $gray-400,
  success: $green,
  info: lighten($blue, 10%),
  warning: $yellow,
  danger: $red,
  light: $white,
  dark: $black
);
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  // teal: $teal,
  // cyan: $cyan,
  "white": $white,
  "gray": $gray-400,
  "gray-dark": $gray-700
);

// For Bootstrap
// Set the container width a little bit higher on larger screens
// https://stackoverflow.com/a/53367733/8014660
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
) !default;
