@import 'components/variables.scss';
@import 'components/bootstrap_override.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'components/bootstrap_addition.scss';
@import 'components/fonts.scss';
@import 'components/user.scss';
@import 'components/main.scss';
@import 'components/program.scss';
